
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #b1f2ff;
}

#landing-header {
    position: relative;
    height: 500px;
    box-shadow: 1px 1px 10px #bbb;
    background-color: #fff;
}

#header-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

    #header-content h1 {
        font-size: 50px;
    }

#navbar {
    background-color: #ddd;
    display: flex;
    height: 70px;
}

#posts-list {
    width: 90vw;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 1px 1px 10px #bbb;
    background-color: #fff;
}

.post-card {
    position: relative;
    width: 40%;
    margin: 40px;
    height: 500px;
    box-shadow: 1px 1px 10px #bbb;
}

    .post-card:hover {
        cursor: pointer;
    }

    .post-card h1 {
        position: absolute;
        text-align: center;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 50%;
        
    }